.contact-card {
  background-color: #ffffff;

}

.contact-container {
  padding-left: 5em;
  padding-right: 5em;
}

.send-gift-container {
  padding-left: 6em;
  padding-right: 6em;
}

.custom-form-container {
  margin-bottom: 7em
}

input::placeholder {
  font-size: 16px;
}



/*****MEDIA QUERY****/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {
  .contact-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .contact-head p {
    width: 100%;
  }

  .send-gift-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {}

@media screen and (min-width: 768px) {}

@media (max-width: 992px) {}

/* Large devices (desktops, 992px and up)*/
@media screen and (992px <=width <=1024px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {}